@import '../../scss/abstract';

.MenuColumn {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  color: $color-grey-2;

  > h5 {
    color: #000;
  }

  > p {
    font-weight: 500;
    
    &:hover {
      opacity: .8;
    }
  }
}