@import '../../scss/abstract';
@import '../../scss/mixins';
@import '../../scss/screens';

.Tips {
  padding: $p-top 8rem $p-bottom 8rem;

  > h2 {
    text-align: center;
    color: $color-grey-1;
    margin-bottom: 32px;
  }

  // SMALL
  @include respond-to('small') {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}