@import '../../scss/abstract';
@import '../../scss/mixins';
@import '../../scss/screens';

.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  
  @include p-vertical;

  > .custom-container > .row {
    box-sizing: border-box;
    position: relative;
  }
  
  &_bg {
    background-color: $color-main;
  }

  &__logo {
    font-size: 24px;
    line-height: 29px;
    font-family: 700;
  }

  &__left {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 32px;

    > * {
      cursor: pointer;

      &:hover {
        opacity: .56;
      }
    }

    > img {
      width: 40px;
      height: 40px;
    }
  }

  &__burger {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
    z-index: 99;

    &:hover {
      opacity: .8;
    }
  }

  .custom-container > .row > &__logo {
    display: none;
  }

  @include respond-to('small') {
    &__left > .Searchbar {
      display: none;
    }
  }

  @include respond-to('medium') {
    &__right {
      display: none;
    }

    &__burger {
      display: inline-block;
    }
  }

  @include respond-to('large') {
    .custom-container > .row > &__logo {
      display: block;
    }

    &__left {
      padding-right: 2rem;
      
      > .Navbar {
        display: none;
      }
    }
  }
}