
// COLORS
$color-main: #F9F1E7;
$color-main-2: #FCF8F3;
$color-grey-1: #3A3A3A;
$color-grey-2: #616161;
$color-grey-3: #898989;
$color-grey-4: #B0B0B0;
$color-grey-5: #D8D8D8;
$color-light-bg: #F4F5F7;
$color-primary: #E89F71;
$color-green: #2EC1AC;
$color-red: #E97171;

// PADDINGS
$p-top: 44px;
$p-bottom: 44px;
$p-left: 100px;
$p-right: 100px;



