$text-sm: 1.4rem;
$line-sm: 2.1rem;

$text-normal: 1.6rem;
$line-normal: 2.4rem;

$text-lg: 1.8rem;
$line-lg: 2.7rem;

$text-xl: 2rem;
$line-xl: 3rem;

$text-h1: 5.6rem;
$line-h1: 6.7rem;

$text-h2: 4rem;
$line-h2: 4.8rem;

$text-h3: 3.2rem;
$line-h3: 3.8rem;

$text-h4: 2.8rem;
$line-h4: 3.4rem;

$text-h5: 2.4rem;
$line-h5: 2.9rem;

$text-h6: 2rem;
$line-h6: 2.4rem;